.text {
  text-align: center;
}

.button {
  text-align: center;
  margin: 10px;
}

.color {
  font-size: 13px;
  color: gray;
}

.sum {
  width: 228px;
  height: 20px;
}

.finish {
  font-size: 25px;
  color: red;
}

.out {
  text-align: center;
}

.finish {
  color:red;
}
