.box123 {
	text-align: center;
}
.red {
	background: red;
	width: 25px;
	height: 25px;
}	
.green {
	background: green;
	width: 25px;
	height: 25px;
}
.black {
	background: black;
	width: 25px;
	height: 25px;
}
.list {
	text-align: center;padding: 10px;
}
.body {
	height: all;
	width: all;
}