.button {
  text-align: center;
}

.choose {
  text-align: center;
  margin: 10px;
  visibility: hidden;
  display: flex;
  flex-direction: column;
}

.appear {
  text-align: center;
  margin: 10px;
  visibility: visible;
}

.writehand {
  height: 50px;
  width: 70px;
  border: 1px solid blue;
  margin: auto;
  background: white;
}

.pinyin {
  height: 50px;
  width: 70px;
  border: 1px solid blue;
  margin: auto;
  background: white;
}

.close {
  height: 50px;
  width: 70px;
  border: 1px solid blue;
  margin: auto;
  background: white;
}

p {
  color: blue;
}
