.list {
  background: pink;
  font-size: 14px;
  display: flex;
  text-align: center;
  flex-direction: row;
  width: 600px;
  height: 40px;
  list-style: none;
  margin: auto;
}

button {
  cursor: pointer;
  height: 40px;
  margin: auto;
  color: white;
  font-size: 15px;
  background: pink;
}

.li2,
.li3,
.li4,
.li5,
.li6,
.li7,
.li8 {
  background: #eaeaea;
  color: black;
  font-size: 13px;
  border: 1px solid blue;
  height: 28px;
  visibility: hidden;
}
