.paraOne {
  width: 500px;
  height: 78px;
  border: 1px solid gray;
  font-size: 12px;
  margin: 15px auto;
}

.paraTwo {
  width: 500px;
  height: 78px;
  border: 1px solid gray;
  font-size: 12px;
  margin: 15px auto;
}

.paraThree {
  width: 500px;
  height: 78px;
  border: 1px solid gray;
  font-size: 12px;
  margin: 15px auto;
}

.paraFour {
  width: 500px;
  height: 78px;
  border: 1px solid gray;
  font-size: 12px;
  margin: 15px auto;
}
